.row {
  margin-bottom: 3px;
}

.close {
  margin-top: -29px;
  padding-right: 10px!important;
}

#tb-data.table-vcenter
td,
th {
  vertical-align: middle;
}
#tb-data.table {
  overflow: auto;
  display: block;
  table-layout: auto;
}
.table tbody tr:nth-child(4n+1), .table tbody tr:nth-child(4n+2) {
  background: #fff;
}
